extends ../layouts/base

block content
    div(class="container")
        form(action="/users/edit/"+ user.id, method="POST")
            input(type="text" name="name" value=user.name)
            button(class="btn btn-sm btn-success ml-2") Save